#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-top:50px;
  }
  
  /* body {
      background-color: #fff;
      text-align: center;
      
      --text-color: #000000;
    --bkg-color: #ffffff;
  } */

  body {
    color: #000000;
    background-color: #ffffff;
  }

  body.dark-theme {
    color: #eee;
    background-color: #121212;
  }

  .navbar-background{
    background-color: #1ee90b;
  }

  .navbar-background.dark-theme{
    background-color: #0b46e9;
  }

  .button-primary{
    background-color: #0b51e9;
  }

  .button-primary.dark-theme{
    background-color: #0be9cb;
  }

  
  /* Only have scrollable left and right screen divs if on a large screen size or bigger. */
  @media only screen and (min-width: 992px){
      #left-screen{
          overflow: scroll;
          max-height: 100vh;
      }
  
      #right-screen{
          overflow: scroll;
          max-height: 100vh;
      }
  }
  
  
 
  
  .input{
      border: 1px solid rgba(20, 51, 186, 0.25);
      border-radius: 4px;
      background-color: white; 
      background-clip: padding-box;
      text-align: center;
      transition: border-color .25s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .input:focus{
      /* color: #212529; */
      background-color: white;
      border-color: #1433BA; 
      outline: 0;
      box-shadow: 0 0 0 .25rem rgba(71, 212, 217,.25);
      border-radius: 4px;
      text-align: center;
  }
  
  .input-disabled{
      border: 1px solid rgba(20, 51, 186, 0.25);
      border-radius: 4px;
      background-color: rgba(159, 159, 159, 0.5); /* Grey */
      background-clip: padding-box;
      text-align: center;
      transition: border-color .25s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .h-divider{
   margin-top:5px;
   margin-bottom:5px;
   height:1px;
   width:100%;
   border-top:1px solid #1433BA; /* Persian Blue */
  }
  
  .table{
      overflow: scroll;
      max-height: 500px;
  }
  
  .table-head{
      position: sticky; 
      top: 0; 
  }

  .white-divider{
    margin-top:5px;
    margin-bottom:5px;
    height:1px;
    width:100%;
    border-top:1px solid white;
   }